<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mywork.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mywork.entity.User">
        <id column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="qq_open_id" property="qqOpenId" />
        <result column="qq_avater" property="qqAvater" />
        <result column="join_time" property="joinTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="status" property="status" />
        <result column="use_space" property="useSpace" />
        <result column="total_space" property="totalSpace" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, password, nick_name, email, qq_open_id, qq_avater, join_time, last_login_time, status, use_space, total_space
    </sql>

    <select id="getByEmail" resultMap="BaseResultMap">
        select user_id, password, nick_name, email, qq_open_id, qq_avater, join_time, last_login_time, status, use_space, total_space
        from user <where>
        email=#{email}
    </where>
    </select>

    <select id="selectByNickName" resultMap="BaseResultMap">
        select user_id, password, nick_name, email, qq_open_id, qq_avater, join_time, last_login_time, status, use_space, total_space
        from user <where>
        nick_name=#{nickName}
    </where>
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        select user_id, password, nick_name, email, qq_open_id, qq_avater, join_time, last_login_time, status, use_space, total_space
        from user <where>
        email=#{email}
    </where>
    </select>

    <update id="setPassWord">
        update user <set> password=#{s} <where> email=#{email} </where>  </set>
    </update>

    <select id="selectByUserId" resultMap="BaseResultMap">
select
            user_id, password, nick_name, email, qq_open_id, qq_avater, join_time, last_login_time, status, use_space, total_space
from user where user_id=#{userId}
    </select>

    <!-- 根据Email删除-->
    <delete id="deleteByEmail">
        delete
        from user_info
        where email = #{email}
    </delete>

    <!-- 根据NickName删除-->
    <delete id="deleteByNickName">
        delete
        from user_info
        where nick_name = #{nickName}
    </delete>

    <!-- 根据QqOpenId修改-->
    <update id="updateByQqOpenId" parameterType="com.example.mywork.entity.User">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where qq_open_id=#{qqOpenId}
    </update>

    <!-- 根据NickName修改-->
    <update id="updateByNickName" parameterType="com.example.mywork.entity.User">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where nick_name=#{nickName}
    </update>

    <update id="updateByEmail">
        UPDATE user
        <set>
            <if test="bean.userId != null">
                user_id = #{userInfo.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{userInfo.nickName},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{userInfo.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{userInfo.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{userInfo.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{userInfo.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{userInfo.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{userInfo.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{userInfo.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{userInfo.totalSpace},
            </if>
        </set>
        where email=#{email}
    </update>

    <update id="updateUserSpace">
        update user_info
        <set>
            <if test="useSpace != null">
                use_space = use_space + #{useSpace},
            </if>
            <if test="totalSpace != null">
                total_space = total_space + #{totalSpace},
            </if>
        </set>
        where user_id = #{userId}
        <if test="useSpace != null">
            <![CDATA[ and (use_space + #{useSpace}) <= total_space ]]>
        </if>
        <if test="totalSpace != null">
            <![CDATA[ and (total_space + #{totalSpace}) >= use_space ]]>
        </if>
    </update>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByQqOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info where qq_open_id=#{qqOpenId}
    </select>

    <!-- 根据QqOpenId删除-->
    <delete id="deleteByQqOpenId">
        delete
        from user_info
        where qq_open_id = #{qqOpenId}
    </delete>

    <update id="updateByUserId" parameterType="com.example.mywork.entity.User">
        update user_info <set>
        <if test="bean.nickName != null">
            nick_name = #{bean.nickName},
        </if>
        <if test="bean.email != null">
            email = #{bean.email},
        </if>
        <if test="bean.qqOpenId != null">
            qq_open_id = #{bean.qqOpenId},
        </if>
        <if test="bean.qqAvatar != null">
            qq_avatar = #{bean.qqAvatar},
        </if>
        <if test="bean.password != null">
            password = #{bean.password},
        </if>
        <if test="bean.joinTime != null">
            join_time = #{bean.joinTime},
        </if>
        <if test="bean.lastLoginTime != null">
            last_login_time = #{bean.lastLoginTime},
        </if>
        <if test="bean.status != null">
            status = #{bean.status},
        </if>
        <if test="bean.useSpace != null">
            use_space = #{bean.useSpace},
        </if>
        <if test="bean.totalSpace != null">
            total_space = #{bean.totalSpace},
        </if>
    </set>
        where user_id=#{userId}
    </update>

</mapper>
